<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style_add_product.css">
    <script src="https://kit.fontawesome.com/a0e770b090.js" crossorigin="anonymous"></script>
    <title>ADD PRODUCT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div class="base-container">
    <nav></nav>
    <main>
        <header>
            <div class="logo-container">
                <img src="../img/logo_io.svg">
                <h2>Liczydło kalorii</h2>
            </div>
            <div class="frame">Twoja aktualna waga: 73,5kg</div>
            <a href="#" class="frame">Wyloguj sie</a>
        </header>
        <section class="calculator">
                <div class="future">
                    <div class="input-info">
                        Planowana waga:
                        <input name="weight" type="number" placeholder="70">
                        kg
                    </div>
                    <button type="button" class="button-save">Zapisz</button>
                </div>
                <div class="future">
                    <div class="input-info">
                        Planowany termin
                        <input name="date" type="date">
                    </div>
                    <button type="button" class="button-save">Zapisz</button>
                </div>
            <div class="balance">
                <p>Aby osiagnąć swój cel musisz spożywać:</p>
                <p>2137 kcal</p>
            </div>
        </section>
    </main>
</div>
</body>
