<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style_day_plan.css">
    <script src="https://kit.fontawesome.com/a0e770b090.js" crossorigin="anonymous"></script>
    <title>DAY PLAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div class="base-container">
    <nav></nav>
    <main>
        <header>
            <div class="logo-container">
                <img src="../img/logo_io.svg">
                <h2>Liczydło kalorii</h2>
            </div>
            <div class="frame">Twoja aktualna waga: 73,5kg</div>
            <a href="#" class="frame">Wyloguj sie</a>
        </header>
        <section class="day-plan">
            <div class="add-item-calories-container">
                <div class="add-item">
                    <p>Wyszukaj produkt</p>
                    <input class="input-search-item" type="text" placeholder="Add meal">
                    <button class="button button-add">Dodaj</button>
                </div>
                <div class="calories">
                    <p>Kalorie: 2137 kcal</p>
                </div>
            </div>
            <div class="item-list">
                <ul>
                    <li>
                        jablko
                    </li>
                    <li>
                        pizza
                    </li>
                    <li>
                        gruszka
                    </li>
                    <li>
                        kotlet schabowy
                    </li>
                </ul>
            </div>
            <div class="button-save-container">
                <button class="button button-save">Zapisz</button>
            </div>
        </section>
    </main>
</div>
</body>