body {
  font-size: 14px;
  margin: 0px;
}

.content {
  height: 904px;
  background: rgba(38, 92, 50, 1);
  margin-left: 45px;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.logowanie {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
  padding: 21px 42px;
  gap: 30px;
}

.side_panel>p {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-weight: normal;
  font-size: 40px;
  text-align: left;
}

.text_input_wrapper {
  display: block;
}

.text_input_wrapper>p {
  font-family: Inter;
  font-weight: normal;
  font-size: 24px;
  text-align: left;
}

.text_input {
  padding: 25px 25px;
  border: 2px solid #265C32;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text_input>input {
  width: 100%;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: normal;
  font-size: 24px;
  text-align: left;
  overflow: scroll;
  outline: none;
}

.text_input > p {
  font-family: Inter;
  font-weight: normal;
  text-align: left;
}

.button {
  padding: 25px 25px;
  border: 2px solid #265C32;
  border-radius: 4px;
  transition: 0.3s;
  background-color: #FFFFFF;
  color:#265C32;
  font-size: large;
}

.button:hover {
  background-color: #265c3249;
}

a {
  font-family: Inter;
  font-weight: normal;
  font-size: 24px;
  text-align: left;
  color:rgba(38, 92, 50, 1);
}