.menu {
    color: white;
}

.name-container {
    font-size: 20px;
    margin: 10px;
    display: flex;
    gap: 20px;
}

.name-container>* {
    flex: 1;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background: #265C32;
    font-size: 30px;
    color: white;
    font-weight: bold;
}