::selection {
    background: #7ba985;
}

body {
    font-size: 14px;
    font-family: Inter;
    font-weight: normal;
    overflow: scroll;
    margin: auto;
    min-width: 800px;
    max-width: 1400px;
}

.base-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

header {
    height: 120px;
    display: flex;
    background: #265C32;
    flex-direction: row;
    margin: 50px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 0 2.5em;
    font-style: normal;
}

header>.frame {
    padding: 15px;
    margin: 15px;
    border: 3px solid white;
    border-radius: 4px;
    transition: 0.3s;
}

header>a:hover {
    background-color: #bfdac5;
}

header>.spacing {
    display: flex;
    flex: 1;
}

.buttons {
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.buttons>a {
    margin: 10px;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    background: #265C32;
    font-size: 25px;
    border: none;
    border-radius: 4px;
    min-width: 150px;
    transition: 0.3s;
}

.buttons>a:hover {
    cursor: pointer;
    background: #044B14;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-container>h2 {
    padding-left: 1em;
    font-family: 'Inter', serif;
    font-style: italic;
}

.content {
    background: rgba(38, 92, 50, 1);
    margin-left: 45px;
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    min-width: fit-content;
    justify-content: space-between;
    padding: 30px;
}

.logo {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.logo>p {
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-weight: Bold Italic;
    font-size: 48px;
    text-align: left;
}

.logo>img {
    width: 300px;
    height: 300px;
}

.side_panel {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
    padding: 21px 42px;
    gap: 30px;
}

.side_panel>p {
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    text-align: left;
}

.text_input_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text_input_wrapper>p {
    font-size: 24px;
    text-align: left;
}

.text_input {
    padding: 15px 25px;
    border: 2px solid #265C32;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_input[type=number] {
    padding: 15px 15px 15px 20px;
    border: 2px solid #265C32;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_input>input {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 24px;
    text-align: left;
    overflow: scroll;
    outline: none;
    width: 100%;
}

.text_input_small {
    padding: 5px 15px;
}
.text_input_small > input {
    font-size: normal;
}

.text_input>p {
    text-align: left;
    float: right;
    margin:auto;
}

.border-none {
    padding: 0;
    border: none;
}

.button {
    padding: 25px 25px;
    border: 2px solid #265C32;
    border-radius: 4px;
    transition: 0.3s;
    background-color: #FFFFFF;
    color: #265C32;
    font-size: large;
    align-self: center;
}

.button:hover {
    background-color: #bfdac5;
    cursor: pointer;
}

.small-button {
    padding: 10px 10px;
}

.wide-button {
    padding: 15px 30px;
}

a {
    text-decoration: inherit;
    color: inherit;
}