.logo {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.logo>p {
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-weight: Bold Italic;
    font-size: 48px;
    text-align: left;
}

.logo>img {
    width: 300px;
    height: 300px;
}

.login_panel {
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 42px;
    gap: 30px;
    background: rgba(255, 255, 255, 1);
    overflow: hidden;
}

.login_panel>p {
    font-family: Inter;
    font-weight: normal;
    font-size: 24px;
    text-align: left;
}